


body {
    
    width: 1000px;
    margin: auto;
    text-align: center;
    
}

/* table ,tr, td {
    margin: auto;
    border: 0.5px solid;
    border-collapse: collapse;
    
} */

.table {
    margin: auto;
    border: 0.5px solid;
    border-collapse: collapse;
    
}
.table1 {
    margin: auto;
    text-align: left;

}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;

}
footer {
    margin: 30px;
}
.hr {
    margin-top: 30px;
}